@import 'diff2html/bundles/css/diff2html.min.css';

.d2h-wrapper {
  font-size: 11px;
  background: transparent;
}

.d2h-file-header {
  display: none;
}

.d2h-code-linenumber,
.d2h-code-side-linenumber {
  color: var(--muted);
}

.d2h-code-side-line,
.d2h-code-line {
  background: var(--vscode-editor-background);
}

.d2h-del {
  background-color: rgba(255, 0, 0, 0.12);
}

.d2h-ins {
  background-color: rgba(0, 200, 0, 0.12);
}

.d2h-dark-color-scheme .d2h-del {
  background-color: rgba(255, 0, 0, 0.22);
}

.d2h-dark-color-scheme .d2h-ins {
  background-color: rgba(0, 200, 0, 0.22);
}